<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>User</title>
</head>
<body>
<H3>Пользователь</H3>
<div>
    <p> Name: <span th:text="${user.getName()}">Value</span></p>
    <p> Age: <span th:text="${user.getAge()}">Value</span></p>
    <p> Department: <span th:text="${user.getDepartment()}">Value</span></p>
    <p> Email: <span th:text="${user.getEmail()}">Value</span></p>
</div>
</body>
</html>