<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Users</title>
</head>
<body>
<H2>Пользователи</H2>
<table th:border="0">
    <thead>
    <tr>
        <th> Name</th>
        <th> Age</th>
        <th> Department</th>
        <th> Email</th>
        <th> Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="User : ${usersList}">
        <td>
            <a th:href="@{/users/{id}(id=${User.getId()})}" th:text="${User.getName()}">user</a>
        </td>
        <td th:text="${User.getAge()}"/>
        <td th:text="${User.getDepartment()}"/>
        <td th:text="${User.getEmail()}"/>
        <td>
            <form method="UPDATE" th:action="@{/users/{id}/edit(id=${User.getId()})}">
                <input type="submit" value="Обновить"/>
            </form>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${User.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<input type="submit" value="Добавить пользователя" onclick="window.location.href='/users/new'"/>
</body>
</html>